body {
	background-color: #EFEFEF;
	box-sizing: border-box;
	height: 100vh;
	width: 100%;
	font-family: 'Fira Sans', sans-serif;
}

p {
	margin: 0;
}

/* Top of site */

header {
	background-color: #593837;
	height: 15vh;
	width: 100%
}

header h2 {
  color: white;
  margin: 0;
}

.header-top-right {
	display: flex;
	height: 40px;
	justify-content: flex-end;
}

.user-icon {
	margin: 0 10px 0 0;
	width: 25px;
}

.down-arrow {
	margin: 0 25px 0 0;
	width: 25px;
}

.top-right-user-name {
	color: #94B9AF;
	margin: 20px 10px 0 0;
}

.header-bottom {
	align-items: flex-end;
	display: flex;
	margin-top: 25px;
}

.header-bottom p {
	color: #94B9AF;
	margin-top: 5px;
}

.recipe-icon {
	height: 25px;
    margin: 0 20px 0 30px;
	width: 25px;
}

.recipes {
	display: flex;
	height: 30px;
	justify-content: center;
	text-align: center;
}

.rest-icon {
	height: 30px;
	margin: -2px 20px 0 45px;
	width: 30px;
}

.restaurants {
	display: flex;
	height: 30px;
	justify-content: center;
	text-align: center;
}

.photo-icon {
	height: 25px;
	margin: 0 20px 0 45px;
	width: 25px;
}

.photo-contest {
	display: flex;
	height: 30px;
	justify-content: center;
	text-align: center;
}

.avo-icon {
	height: 50px;
	margin: 0 5px 0 10px;
	width: 50px;
}

.avocado {
	align-items: center;
	display: flex;
	font-size: 1.5em;
	justify-content: center;
	margin-left: auto;
	width: 250px;
}

/* main potion of page */

.body-header {
	text-align: left;
	display: inline-block;
	margin-left: 30px;
} 

.main-body {
	width: 100%;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 
	margin: auto;
    width: 1245px;
}

/* cards */

article {
	background-color: white;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	height: 375px;
	margin: 5px 2px 5px 2px;
	width: 300px;
}

/* Top of Card */

.top-of-card { 
	height: 35%;
	display: flex;
	justify-content: space-between;
}

.forward-icon {
	height: 60px;
	width: 60px;
	padding: 15px 20px 5px 20px;
}

.top-of-card p {
 margin: 0;
 color: black;
 padding: 20px 20px 5px 20px;
}

.top-of-card-right h2{
	color: black;
	margin: 0 0 0 27px;
}

/* Bottom of Card */

.bottom-of-card {
	padding: 20px;
}

.bottom-of-card h3 {
	margin: 0;
}

.bottom-of-card h4 {
	margin: 20px 0 0 0;
}

.bottom-of-card h2 {
	color: #94B9AF;
	margin: 0;
}

.middle-card-box {
	margin: 10px 0 10px 0;
	background-color: #593837;
	padding: 10px;
}

.middle-card-box a {
	text-decoration: none;
	color: white;
}

/* top of card background images */

.first-card .top-of-card {
	background: url("images/Mushroom and Crabcake.jpg") no-repeat;
	background-position: center;
	background-size: cover; 
	opacity: 0.7;
}

.second-card .top-of-card {
	background: url("images/Creme Fraiche.jpg") no-repeat;
	background-position: center;
	background-size: cover; 
	opacity: 0.7;
}

.third-card .top-of-card {
	background: url("images/Fried Egg.jpg") no-repeat;
	background-position: center;
	background-size: cover; 
	opacity: 0.7;
}

.fourth-card .top-of-card {
	background: url("images/Lemon Zest.jpg") no-repeat;
	background-position: center;
	background-size: cover; 
	opacity: 0.7;
}

.fifth-card .top-of-card {
	background: url("images/Overeasy with Micro Greens.jpg") no-repeat;
	background-position: center;
	background-size: cover; 
	opacity: 0.7;
}

.sixth-card .top-of-card {
	background: url("images/Soft Boiled Egg and Pinenut.jpg") no-repeat;
	background-position: center;
	background-size: cover; 
	opacity: 0.7;
}

.seventh-card .top-of-card {
	background: url("images/Strawberry and Hemp Seed.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.7; 
}

.eighth-card .top-of-card {
	background: url("images/Sunflower Seed and Cherry Tomato.jpg") no-repeat;
	background-position: center;
	background-size: cover; 
	opacity: 0.7;
}

@media (max-width: 1250px) {  

	.card-container {
    width: 940px;
	}
}	

@media (max-width: 950px) {  

	.card-container {
		width: 625px;
	}
}

@media (max-width: 800px) {  

	header {
		height: 60vh;
		display: flex;
		flex-direction: column;
		font-size: 1.5em;
		justify-content: center;
		width: 100%;
	}

	.header-top-right {
		justify-content: center;
	}

	.header-bottom {
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.card-container {
		width: 287px;
	}

	.recipe-icon, .rest-icon, .photo-icon, .avocado {
		margin-left: 0
	}

	.top-right-user-name {
		margin: 6px 10px 0 0;
		/*font-size: 18px;*/
		display: none;
	}

	.restaurants, .photo-contest, .avocado {
		margin-top: 25px;
	}

	.user-icon {
		margin: 0 10px 0 25px;
	}

	.header-bottom p {
    margin-top: 0;
	}

}